*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root{
   --colore-primario-testo: #fff;
   --colore-secondario-testo: #16181a;
}
.container{
   max-width: 1200px;
   margin: auto;
}

body{
   font-family: 'Roboto', sans-serif;
}

header {
   background-color: #3161e0;
   color: var(--colore-primario-testo);
   position: relative;
   padding: 20px;
}

header .logo{
   float: left;
}
header>*{
   height: 35px ;
   line-height: 35px;
   vertical-align: middle;
}
.clear-fix::after{
   content: "";
   display: table;
   clear: both;
}

.logo img{
   vertical-align: middle;
}
button{
   text-transform: capitalize;
   height: 35px;
   padding: 0 20px;
   border-radius: 15px;
   border: none;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   cursor: pointer; 
}
.white-button{
   background-color: #fff;
   color: var(--colore-secondario-testo)
}
.centre{
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%); 
}
header .button-link{
   float: right;
}
header .nav ul li {
   display: inline-block;
}
header .nav ul li a {
   font-weight: 700;
   text-transform: capitalize;
   position: relative;
   text-decoration: none;
   color: inherit;
   display: block;
   margin: 0 15px;
}

.hero{
   position: relative;
   background-image: url(img/jumbo.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 50vh;
   color: var(--colore-primario-testo);
   text-align: center
}
.hero .text{
   max-width: 45%;
}
.hero .text .button-link button{
   margin-left: 15px;
}
.black-button{
   background-color: var(--colore-secondario-testo);
   color: var(--colore-primario-testo);
}
.section{
   margin: 50px auto 130px auto;
}
.col{
   margin: auto;
}
 .col-left{
   float: left;
}
.col-img{
   width: 70%;
}

.text-right{
   width: 30%;
   padding-top: 40px ;
   margin-left:50px;
}
strong {
   line-height: 55px;
   font-size: 40px;
}
p{
   margin-top: 30px;
   line-height: 30px;
}
.col-right{
   float: right;
}
.section-grey{
   background-color: rgba(226, 222, 222, 0.863);
}
.text-center{
   text-align: center;
   padding: 0 200px;
}
.centre-img-bottom{
   max-height: 600px;
   background-position: center center;
   background-size: cover;
   margin-bottom: 30px;
}
.bottom-text{
   text-align: center;
}
.blue-button{
   background: #8ea1e1;
   color:#fff;
   padding: 15px 30px;
}

footer{
   background: #23272a;
   height: 75vh;
   margin-top: 150px;
}

.footer{
   padding-top: 60px;
   width: 1200px;
   margin: auto;
}
.text-blue{
   color: #7289da;
}

.footer-space{
   float:left;
   width: 20%;
   
}

.social h2{
   margin-bottom: 15px;
}

.social img{
   height: 20px;
   vertical-align: middle;
}

.social select{
   color:white;
   background: transparent;
   border:none;
}

.social i{
   margin:10px 15px auto 0;
}
.loghi i{
   color: #fff;
}

.footer-top{
   margin-bottom: 20px;
}

.footer-space ul li a{
   color: white;
   text-decoration: none;
}

.footer-space ul li{
   margin:10px auto;
}

.footer-space ul {
   list-style-type: none;
   margin:10px auto;

}

.line-footer{
   border:1px solid #7289da;
}

.logo{
   
   float: left;
}

.sign-in{
   float: right;
}

.sign-in button{
   background-color: lightgray;
}

.footer-bottom{
   margin-top:30px;
}
.closening-page{
   
}